.container{
	background-color: #fff;
}
.Tbackground{
  min-height:100%;
  min-width:100%;
  background:url(/img/fire-298105_1280.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
}
.head-fon{
  background:url(/img/artmatic-73182.jpg) no-repeat;
}
.page-header a .h1{
  color:#A1B7CC;
}

#footer .panel{
  margin-bottom: 0;
}

.post-ctg-list-title{
  font-weight:bold;
}
/*Список постов*/
.post-date{
  font-size:12px;
  font-style: italic;
}
.post-link{
  font-weight:bold;
  font-size:16px;
  
}
.post-decription{
  padding-left:5px;
}

.posts li{
  padding-bottom: 1em;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    background:url(/img/fire-298105_1280.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  width:100%;
  background-color: #2c3e50;
  visibility:hidden;
}
.row{
  position:relative;
}

.footer .container{
  height:60px;
  background-color: #2c3e50;
  visibility:visible;
}
.footer .container .panel{
    margin-bottom: 0;
    visibility:visible;
}
#cont1{
  min-height:100%;
}