.container{
	background-color: #fff;
}
.Tbackground{
	background-color: #ecf0f1;
  background:url(/img/fire-298105_1280.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.head-fon{
  background:url(/img/artmatic-73182.jpg) no-repeat;
}
.page-header .h1{
  color:#4E6E8E;
}

#footer .panel{
  margin-bottom: 0;
}

.post-ctg-list-title{
  font-weight:bold;
}
/*Список постов*/
.post-date{
  font-size:12px;
  font-style: italic;
}
.post-link{
  font-weight:bold;
  font-size:16px;
  
}
.post-decription{
  padding-left:5px;
}

.posts li{
  padding-bottom: 1em;
}

.rasporka{
  height:40%;
}