
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}">
		<link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/css/theme.css" | prepend: site.baseurl }}" rel="stylesheet">
	</head>
	<body>
	<div class="Tbackground">
  	<div class="container">
  	 	<div class="row">
	   		<div class="col-md-12 head-fon">
  				<div class="page-header">
  					<span class="h1">{{ site.title }}</span>
  				</div>
          <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" href="" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Главная</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Эбаут <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/about">Эбаут</a></li>
                      <li><a href="/about/vzglyad">Мировоззрение</a></li>
                      <li><a href="/about/po">ПО</a></li>
                      </ul>
                  </li>
                  <li><a href="/amdm">Подборы аккордов</a></li>
                  <li><a href="/raboty">Работы</a></li>
                  <li><a href="/sajtodelanie">Сайтоделание</a></li>
                </ul>
              </div>
            </div>
          </div>		
        </div>
			</div>
  		<div class="row">
	   		<div class="col-md-9">
				  <div>
				    <article>{{ content }}</article>
				  </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">Прямая связь с адом</div>
            <div class="panel-body">
              <p><a href="mailto:work@utkorose.ru">work@utkorose.ru</a></p>
              <p><a href="http://ru.linkedin.com/in/utkorose">Linkedin</a></p>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Подпишитесь на обновления по Email</div>
            <div class="panel-body">
              <p><form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=int-verg', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="int-verg" name="uri"/><input type="hidden" name="loc" value="ru_RU"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form></p>
            </div>
          </div>

        </div>
		  </div>
        <div id="footer" class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
          <div class="panel-heading">Материалы сайта доступны под лицензией <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></div>
      </div>
    </div>

  </div>
    </div>
	</div>

	<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	</body>
</html>

