
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		<link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/css/theme.css" | prepend: site.baseurl }}" rel="stylesheet">
	</head>
	<body>
		<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter30118499 = new Ya.Metrika({id:30118499,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/30118499" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
	<div class="Tbackground">
  	<div class="container" id="cont1">
  	 	<div class="row">
	   		<div class="col-md-12 head-fon">
  				<div class="page-header">
  					<a href="/"><span class="h1">{{ site.title }}</span></a>
  				</div>
          <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" href="" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Главная</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Категории <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/base">База</a></li>
                      <li><a href="/feedbacks">Отзывы</a></li>
                      </ul>
                  </li>
                  <li><a href="/about">Обо мне</a></li>
                </ul>
              </div>
            </div>
          </div>		
        </div>
			</div>
  		<div class="row">
	   		<div class="col-md-9">
				  <div>
				    <article>{{ content }}</article>
				  </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Прямая связь с адом</div>
            <div class="panel-body">
              <p><a href="mailto:work@utkorose.ru">work@utkorose.ru</a></p>
              <p><a href="http://ru.linkedin.com/in/utkorose">Linkedin</a></p>
              <p><a href="https://vk.com/intverg">ВК</a></p>
              
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Получайте обновления на E-mail</div>
            <div class="panel-body">
              <p><form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=int-verg', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Введите адрес e-mail:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="int-verg" name="uri"/><input type="hidden" name="loc" value="ru_RU"/><input type="submit" value="Подписаться" /><p>С помощью <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form></p>
            </div>
          </div>

        </div>
		  </div>
      </div>
	</div>
      <div class="footer">
        <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading">Материалы сайта доступны под лицензией <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>. Картинки, для которых не указано иное, взяты с <a href="//pixabay.com">pixabay.com</a></div>
      	  </div>
        </div>
      </div>


	<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	</body>
</html>

