
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}">
		<link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
		<link href="{{ "/css/theme.css" | prepend: site.baseurl }}" rel="stylesheet">
	</head>
	<body>
	
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter30118499 = new Ya.Metrika({id:30118499,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/30118499" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
	<div class="Tbackground">
  	<div class="container">
  	 	<div class="row">
	   		<div class="col-md-12">
  				<div class="page-header">
  					<span class="h1">{{ site.title }}</span>
  				</div>
          <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" href="" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/">Главная</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Эбаут <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/about">Эбаут</a></li>
                      <li><a href="/about/vzglyad">Мировоззрение</a></li>
                      <li><a href="/about/po">ПО</a></li>
                      </ul>
                  </li>
                  <li><a href="/amdm">Подборы аккордов</a></li>
                  <li><a href="/raboty">Работы</a></li>
                  <li><a href="/sajtodelanie">Сайтоделание</a></li>
                </ul>
              </div>
            </div>
          </div>		
        </div>
			</div>
  		<div class="row">
	   		<div class="col-md-9">
				  <div>
				    <article>{{ content }}</article>
				  </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">Боковая колонка</div>
            <div class="panel-body">
              Здесь определённо что-то будет
            </div>
          </div>

        </div>
		  </div>
        <div id="footer" class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
          <div class="panel-heading">Материалы сайта доступны под лицензией <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></div>
      </div>
    </div>

  </div>
    </div>
	</div>

	<script type="text/javascript" src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	</body>
</html>

